#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Dropbox
Comment=Sincronismo de arquivos com a Internet
GenericName=Sincronismo de arquivos com a Internet
Icon=dropbox
Exec={{ ansible_user_dir }}/.dropbox-dist/dropboxd
Terminal=false
StartupNotify=true
Categories=Network;FileTransfer;
MimeType=
