#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Firefox Developer
Comment=Navegador Web
GenericName=Navegador Web
X-GNOME-FullName=Mozilla Firefox Developer Edition
Icon=/opt/firefox-dev/browser/chrome/icons/default/default48.png
Exec=/opt/firefox-dev/firefox %U
X-MultipleArgs=false
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
StartupWMClass=Iceweasel
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;x-scheme-handler/http;x-scheme-handler/https;
